{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-3">
    {% if user.is_superuser %}
    <div class="container card p-1 mt-3">
        <div class="row align-items-center">
            <div class="col-6 text-center small">Create a new post as <strong>{{ user }}</strong>: </div>
            <div class="col-6"><a href="{% url 'create_post' %}" class="a btn btn-success btn-sm w-75">
                    <i class="fas fa-pen-square"></i> New Post
                </a></div>
        </div>
    </div>
    {% endif %}

    {% if blog_posts %}
    {% for post in blog_posts %}
    <div class="box-element pt-3 pb-3 text-center">
        <div class="row mt-2 text-center justify-content-center">
            <a href="{% url 'post_page' post.id %}">
                <h4 class="ml-auto mr-auto">{{ post.title }}</h4>
            </a>
        </div>
        <div class="row">
            <p class="ml-auto mr-auto small text-secondary">Posted on <em>{{ post.date }}</em></p>
        </div>

        {% if post.image %}
        <div class="container mt-3 w-50 bg-secondary" style="background-image: url('{{ post.imageURL }}');
                background-position: center;
                background-blend-mode:color-burn;
                border-radius:15px;">
            <img src="{{ post.imageURL }}" class="blog-post-image">
        </div>
        {% endif %}

        <div class="row">
            <div class="col-12 text-left col-sm-12 mt-2 mr-auto ml-auto">
                <p>{{ post.body|slice:355 }} [<strong>...</strong>]</p>
                <div class="right text-right mb-2">
                    <a href="{% url 'post_page' post.id %}" class="small right text-right mr-3">Continue reading <i
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>

        {% if user.is_superuser %}
        <!-- "Edit/Delete" Button -->
        <div class="row">
            <div class="col-12">
                <a href="{% url 'edit_post' post.id %}" class="a btn btn-info btn-sm w-25">
                    <i class="far fa-edit"></i> Edit
                </a>
                <a href="{% url 'delete_post' post.id %}" class="a btn btn-danger btn-sm w-25">
                    <i class="far fa-trash-alt"></i> Delete
                </a>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div class="container mt-5 text-center">
        <p>No blog posts to display.</p>
    </div>
    {% endif %}

</div>
{% endblock %}