{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-3">

    <!-- "Back" button, redirects browser to previous page-->
    <a class="btn btn-light rounded-0 mt-2" href="{% url 'view_blog' %}"><i class="fas fa-chevron-left mr-2"></i>
        Back to All Posts</a>

    <div class="box-element pt-3 pb-3 text-center">
        <div class="row mt-2">
            <h4 class="ml-auto mr-auto">{{ post.title }}</h4>
        </div>
        <div class="row">
            <p class="ml-auto mr-auto small text-secondary">Posted on <em>{{ post.date }}</em></p>
        </div>

        {% if user.is_superuser %}
        <!-- "Edit/Delete" Button -->
        <div class="row">
            <div class="col-12">
                <a href="{% url 'edit_post' post.id %}" class="a btn btn-info btn-sm w-25">
                    <i class="far fa-edit"></i> Edit
                </a>
                <a href="{% url 'delete_post' post.id %}" class="a btn btn-danger btn-sm w-25">
                    <i class="far fa-trash-alt"></i> Delete
                </a>
            </div>
        </div>
        {% endif %}

        {% if post.image %}
        <div class="container mt-3 bg-secondary" style="background-image: url('{{ post.imageURL }}');
                background-position: center;
                background-blend-mode:color-burn;
                border-radius:15px;">
            <img src="{{ post.imageURL }}" alt="{{ post.title }} (blog post image)" class="blog-post-image">
        </div>
        {% endif %}

        <div class="row">
            <div class="text-left pl-4 pr-4 col-12 col-sm-12 mr-auto ml-auto">
                <p>{{ post.body|linebreaks }}</p>
            </div>
        </div>

    </div>
</div>

<!--Comment Section-->
<div class="section ">
    <div class="container">
        <h5>Comments({{post_comments_count}})</h5>
        <div class="row ">
            <div class="col-12 mx-auto ">
                <!--Display Comments-->
                <div class="media-list">
                    {% for comment in post_comments %}
                    <div class="card col-12 mt-1 mb-1">
                        <div class="row">
                            <div class="col-3">
                                <img class="comment-avatar mr-4"
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png">
                            </div>
                            <div class="col-9">
                                <div class="media-body">
                                    <div class="small-1">
                                        <strong class="mr-1">{{comment.user}}</strong> <span class="small">posted
                                            on</span> <time class="ml-1 opaciy-70 small-3"> {{comment.date}}</time>:
                                    </div>
                                    <p><em>{{comment.content}}</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--Display comment form -->
                <form method="POST" action="{% url 'post_page' post_id=post.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form | crispy}}
                    </div>
                    <button class="btn btn-primary btn-block mb-2" type="submit">Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}